<div class="container mt-5">
    <h2>Automation Index</h2>
    <p>下のボタンをクリックすると案件追加が実行されます</p>
    <%= button_to add_project_500_path, class: "btn custom-btn-color" do %>
        <i class="ri-sticky-note-add-line align-middle"></i> 実行する
    <% end %>
</div>