<h1>Task Manager</h1>
<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="card custom-card">
            <%= image_tag "task_01.jpg", alt: "代替テキスト" %>
            <div class="card-body">
                <h6 class="card-title fw-medium">Card title</h6>
                <p class="card-text text-muted">when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic.</p>
                <a href="javascript:void(0);" class="btn btn-primary">Read More</a>
            </div>
            <div class="card-footer">
                <span class="card-text">Last updated 3 mins ago</span>
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="card custom-card">
            <%= image_tag "task_01.jpg", alt: "代替テキスト" %>
            <div class="card-body">
                <h6 class="card-title fw-medium">Card title</h6>
                <p class="card-text text-muted">when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic.</p>
                <a href="javascript:void(0);" class="btn btn-primary">Read More</a>
            </div>
            <div class="card-footer">
                <span class="card-text">Last updated 3 mins ago</span>
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="card custom-card">
            <%= image_tag "task_01.jpg", alt: "代替テキスト" %>
            <div class="card-body">
                <h6 class="card-title fw-medium">Card title</h6>
                <p class="card-text text-muted">when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic.</p>
                <a href="javascript:void(0);" class="btn btn-primary">Read More</a>
            </div>
            <div class="card-footer">
                <span class="card-text">Last updated 3 mins ago</span>
            </div>
        </div>
    </div>
</div>
