<div class="centered-container">
    <div class="d-flex flex-row flex-nowrap card-slider">
        <div class="">
            <div class="progress-indicator mb-4">
                <div class="step active">
                    <div class="step-icon"><i class="bi bi-person-check"></i></i></div>
                    <div class="step-label">Step1</div>
                </div>
                <div class="step">
                    <div class="step-icon"><i class="bi bi-chat-left-dots"></i></div>
                    <div class="step-label">Step2</div>
                </div>
                <div class="step">
                    <div class="step-icon"><i class="bi bi-check-circle"></i></div>
                    <div class="step-label">Step3</div>
                </div>
            </div>
            <div class="card custom-card">
                <div class="card-body">
                    <h6 class="card-title fw-medium">はじめに</h6>
                    <p class="card-text text-muted">フォロワーさんを伸ばすのが目的か収益化をするのが目的か？</p>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center p-2">
                    <a href="#" class="btn btn-light btn-sm" data-toggle="modal" data-target="#step1-1Modal">もっと詳しく</a>
                    <div class="modal fade" id="step1-1Modal" tabindex="-1" role="dialog" aria-labelledby="step1-1ModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="step1-1ModalLabel">フォロワー増加と収益化</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    ここにコンテンツや説明を入れます。
                                </div>
                                <div class="modal-footer p-2">
                                    <button type="button" class="btn btn-light w-100" data-dismiss="modal">理解した</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <i id="checkIconStep1-1" class="bi bi-check-square fs-24 me-2 op-7 step-check-btn"></i>
                    </div>
                </div>
            </div>
            <div class="card custom-card">
                <div class="card-body">
                    <h6 class="card-title fw-medium">プロフィール写真の設定</h6>
                    <p class="card-text text-muted">まずはプロフィールの写真を設定しよう</p>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center p-2">
                    <a href="#" class="btn btn-light btn-sm" data-toggle="modal" data-target="#step1-2Modal">もっと詳しく</a>
                    <div class="modal fade" id="step1-2Modal" tabindex="-1" role="dialog" aria-labelledby="step1-2ModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="step1-2ModalLabel">プロフィール写真の設定</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    ここにコンテンツや説明を入れます。
                                </div>
                                <div class="modal-footer p-2">
                                    <button type="button" class="btn btn-light w-100" data-dismiss="modal">理解した</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <i id="checkIconStep1-2" class="bi bi-check-square fs-24 me-2 op-7 step-check-btn"></i>
                    </div>
                </div>
            </div>
            <div class="card custom-card">
                <div class="card-body">
                    <h6 class="card-title fw-medium">プロフィール文設定</h6>
                    <p class="card-text text-muted">プロフィール文の設定を使用</p>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center p-2">
                    <a href="#" class="btn btn-light btn-sm" data-toggle="modal" data-target="#step1-3Modal">もっと詳しく</a>
                    <div class="modal fade" id="step1-3Modal" tabindex="-1" role="dialog" aria-labelledby="step1-3ModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="step1-3ModalLabel">プロフィール文の設定</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    ここにコンテンツや説明を入れます。
                                </div>
                                <div class="modal-footer p-2">
                                    <button type="button" class="btn btn-light w-100" data-dismiss="modal">理解した</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <i id="checkIconStep1-3" class="bi bi-check-square fs-24 me-2 op-7 step-check-btn"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

 <style>
    .centered-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* ビューポートの高さに合わせる */
        max-width: 450px;
        margin-right: auto;
        margin-left: auto;
        border-left: 2px solid #f0f0f0;
        border-right: 2px solid #f0f0f0;
        padding: 10px;
    }

    .card-slider {
        overflow-x: auto;
    }

    .card {
        flex: 0 0 auto;
    }

    .clicked {
        color: #007bff; /* 例として青色を使用 */
    }

    .step-check-btn {
        cursor: pointer;
    }

    .modal-dialog {
        max-width: 450px;
    }

.progress-indicator {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0 20px; /* アイコンの外側に線が表示されないようにするためのパディング */
}

.progress-indicator::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%); /* 線を垂直方向の中心に調整 */
  height: 2px; /* 線の太さ */
  background: #6c757d; /* Bootstrapのセカンダリーカラー */
  z-index: 1;
}

.step {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.step .step-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #6c757d; /* Bootstrapのセカンダリーカラー */
  color: white;
  z-index: 3;
  position: relative;
}

.step.active .step-icon {
  background: #007bff; /* Bootstrapのプライマリーカラー */
}

/* アクティブなステップと非アクティブなステップの間の線の色を変更するためのスタイル */
.step.active + .step::before {
  width: 50%; /* 現在のステップから次のステップまでの半分 */
  background: #007bff; /* Bootstrapのプライマリーカラー */
}

.step-label {
  margin-top: 8px;
  font-size: 14px;
  color: #6c757d; /* Bootstrapのセカンダリーカラー */
}

.bi {
  font-size: 20px;
}


    @media (max-width: 576px) {
        .modal-dialog {
            max-width: 100%;
        }
    }
  </style>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
        // それぞれのアイコンを取得
        var checkIcon1 = document.getElementById('checkIconStep1-1');
        var checkIcon2 = document.getElementById('checkIconStep1-2');
        var checkIcon3 = document.getElementById('checkIconStep1-3');

        // それぞれのアイコンにクリックイベントリスナーを追加
        checkIcon1.addEventListener('click', function () {
            this.classList.toggle('clicked');
        });
        checkIcon2.addEventListener('click', function () {
            this.classList.toggle('clicked');
        });
        checkIcon3.addEventListener('click', function () {
            this.classList.toggle('clicked');
        });
    });

  </script>