@font-face {
    font-family: 'BootstrapIcons';
    src: url('/assets/bootstrap-icons-6QOYJHKE.woff2') format('woff2');
}
@font-face {
    font-family: 'RemixIcon';
    src: url('/assets/remixicon-KQADHDEE.woff2') format('woff2');
}